@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

.createContainer {
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 768px;
    min-height: 600px;
    margin: 0 auto;
    padding: 40px 20px;
}

body {
    background-color: #96aefb;
    background: linear-gradient(to right, #dab8fc, #afc2ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 475px) {
    .createContainer {
        max-width: 320px;
        padding: 55px;
        min-height: 600px;
        border-radius: 19px;
    }

    .createContainer button {
        font-size: 10px;
        padding: 8px 30px;
        border-radius: 6px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 8px;
        cursor: pointer;
    }

    .createContainer form {
        padding: 0 20px;
    }

    .createContainer input {
        margin: 8px 0;
        padding: 8px 12px;
        font-size: 10px;
        width: 85%;
    }
}